{% load custom_filters %}

{% if defaultDisplay %}
  {% if any_of %}
    {% if data|forex_percent_change_alternative|default:0 >= 0 %}
      <a href="#"
         class="percent-modifier price-up"
         hx-get="{% url 'HomePage:htmxSwapChanges' ticker=data.ticker mtype=Mtype current_type=current_type %}"
         hx-swap="outerHTML"
         onclick="return false;">({{ data|forex_percent_change_alternative|floatformat:4|default:"N.A." }})%</a>
    {% else %}
      <a href="#"
         class="percent-modifier price-down"
         hx-get="{% url 'HomePage:htmxSwapChanges' ticker=data.ticker mtype=Mtype current_type=current_type %}"
         hx-swap="outerHTML"
         onclick="return false;">({{ data|forex_percent_change_alternative|floatformat:4|default:"N.A." }})%</a>
    {% endif %}
  {% else %}
    {% if data|get_asset_price_change|default:0 >= 0 %}
      <a href="#"
         class="percent-modifier price-up"
         hx-get="{% url 'HomePage:htmxSwapChanges' ticker=data.ticker mtype=Mtype current_type=current_type %}"
         hx-swap="outerHTML"
         onclick="return false;">({{ data|get_asset_percent_change|floatformat:4|default:"N.A." }})%</a>
    {% else %}
      <a href="#"
         class="percent-modifier price-down"
         hx-get="{% url 'HomePage:htmxSwapChanges' ticker=data.ticker mtype=Mtype current_type=current_type %}"
         hx-swap="outerHTML"
         onclick="return false;">({{ data|get_asset_percent_change|floatformat:4|default:"N.A." }})%</a>
    {% endif %}
  {% endif %}
{% endif %}
{% if current_type == "price" %}
  {% if any_of %}
    {% if data|forex_price_alternative|default:0 >= 0 %}
      <a href="#"
         class="percent-modifier price-up"
         hx-get="{% url 'HomePage:htmxSwapChanges' ticker=value.api_call_symbol mtype=Mtype current_type='price' %}"
         hx-swap="outerHTML"
         onclick="return false;">
        <p>{{ data|forex_price_change_alternative|floatformat:4|default:"N.A." }}</p>
      </a>
    {% else %}
      <a href="#"
         class="percent-modifier price-down"
         hx-get="{% url 'HomePage:htmxSwapChanges' ticker=value.api_call_symbol mtype=Mtype current_type='price' %}"
         hx-swap="outerHTML"
         onclick="return false;">
        <p>{{ data|forex_price_alternative|floatformat:4|default:"N.A." }}</p>
      </a>
    {% endif %}
  {% else %}
    {% if data|get_asset_price_change|default:0 >= 0 %}
      <a href="#"
         class="percent-modifier price-up"
         hx-get="{% url 'HomePage:htmxSwapChanges' ticker=value.api_call_symbol mtype=Mtype current_type='price' %}"
         hx-swap="outerHTML"
         onclick="return false;">
        <p>{{ data|get_asset_price_change|floatformat:4|default:"N.A." }}</p>
      </a>
    {% else %}
      <a href="#"
         class="percent-modifier price-down"
         hx-get="{% url 'HomePage:htmxSwapChanges' ticker=value.api_call_symbol mtype=Mtype current_type='price' %}"
         hx-swap="outerHTML"
         onclick="return false;">
        <p>{{ data|get_asset_price_change|floatformat:4|default:"N.A." }}</p>
      </a>
    {% endif %}
  {% endif %}
{% elif current_type == "percent" and not defaultDisplay %}
  {% if any_of %}
    {% if data|forex_percent_change_alternative|default:0 >= 0 %}
      <a href="#"
         class="percent-modifier price-up"
         hx-get="{% url 'HomePage:htmxSwapChanges' ticker=value.api_call_symbol mtype=Mtype current_type='percent' %}"
         hx-swap="outerHTML"
         onclick="return false;">
        <p>({{ data|forex_percent_change_alternative|floatformat:4|default:"N.A." }})%</p>
      </a>
    {% else %}
      <a href="#"
         class="percent-modifier price-down"
         hx-get="{% url 'HomePage:htmxSwapChanges' ticker=value.api_call_symbol mtype=Mtype current_type='percent' %}"
         hx-swap="outerHTML"
         onclick="return false;">
        <p>({{ data|forex_percent_change_alternative|floatformat:4|default:"N.A." }})%</p>
      </a>
    {% endif %}
  {% else %}
    {% if data|get_asset_price_change|default:0 >= 0 %}
      <a href="#"
         class="percent-modifier price-up"
         hx-get="{% url 'HomePage:htmxSwapChanges' ticker=value.api_call_symbol mtype=Mtype current_type='percent' %}"
         hx-swap="outerHTML"
         onclick="return false;">
        <p>({{ data|get_asset_percent_change|floatformat:4|default:"N.A." }})%</p>
      </a>
    {% else %}
      <a href="#"
         class="percent-modifier price-down"
         hx-get="{% url 'HomePage:htmxSwapChanges' ticker=value.api_call_symbol mtype=Mtype current_type='percent' %}"
         hx-swap="outerHTML"
         onclick="return false;">
        <p>({{ data|get_asset_percent_change|floatformat:4|default:"N.A." }})%</p>
      </a>
    {% endif %}
  {% endif %}
{% endif %}
