{% load custom_filters %}

<div class="flex-box-div bend-corners">
  <div class="main-header-div">
    <h1 class="industry-header">{{ table_title }}</h1>
  </div>
  <div class="single-table-div">
    <div class="table-div">
      <table class="industry-table">
        <thead class="table-head">
          <tr>
            <th scope="col" align="left" class="th-text">Ticker</th>
            <th scope="col" align="left" class="th-text">Company Name</th>
            <th scope="col" align="left" class="th-text">Current Price</th>
            <th scope="col" align="left" class="th-text">Price Change</th>
            <th scope="col" align="left" class="th-text">Percent Change</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in dow30.items %}
            <tr>
              <th scope="row" class="scope-class">
                <a href="{% url 'search:htmxLinkDispatch' ticker_id=key mtype='stocks' %}"
                   class="table-ticker">{{ key }}</a>
              </th>
              <td class="td-company-name">{{ value.obj.company_name }}</td>
              <td class="td-price">{{ value.data|get_asset_price|floatformat:2|default:"N.A" }}</td>
              {% if value.data|get_asset_price_change|default:0 >= 0 %}
                <td class="td-price-change price-up">
                  <ion-icon name="arrow-up-outline"></ion-icon>
                  {{ value.data|get_asset_price_change|floatformat:2|default:"N.A" }}
                </td>
                <td class="td-percent-change price-up">
                  <ion-icon name="arrow-up-outline"></ion-icon>
                  {{ value.data|get_asset_percent_change|floatformat:2|default:"N.A" }}%
                </td>
              {% else %}
                <td class="td-price-change price-down">
                  <ion-icon name="arrow-down-outline"></ion-icon>
                  {{ value.data|get_asset_price_change|floatformat:2|default:"N.A" }}
                </td>
                <td class="td-percent-change price-down">
                  <ion-icon name="arrow-down-outline"></ion-icon>
                  {{ value.data|get_asset_percent_change|floatformat:2|default:"N.A" }}%
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<a href="#"
   class="top-of-page-link bend-corners topHandler"
   onclick="scrollToTop()">Top</a>
